* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}


html {
    height: 100%;
}
body {
    min-height: 100%;
}


#header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    font-size: 125px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}

#header #header-content {
    margin: 10px;
}

.button {
    font-family: 'Brush Script MT', cursive;
    grid-template: 4;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    height: 75px;
    width: 180px;
    background-color: none;
    font-size: 50px;
    top: 25%;
}

.button:hover {
    height: 75px;
    width: 185;
    font-size: 45px;
}

.background {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 500px;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

.page_content_font {
    font-size: 30px;
    text-align: center;
}


.footer {
    font-family: 'Brush Script MT', cursive;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
    font-size: 30px;
}

.menu_image {
    width: 10%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu_font {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 80px;
}

.small_menu_font {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 50px;
}

.ice_cream_menu_background {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 35%;
    left: 19%;
    width: 63%;
    height: 490px;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}


.grid_template {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-gap: 1rem;
    gap: 10px;
}

.template_item {
    width: 250px;
    height: 250px;
}

.menu_background {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    top: 35%;
    left: 27%;
    width: 45%;
    height: 500px;
    padding: 0;
    margin: 0;
    border-radius: 25px;
}

.menu_image {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.ice_cream_image_border {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.ice_cream_menu_font {
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 35px;

}


